body {
  background-color: #f6f3ff;
}

h1 {
  font-size: 45px;
  text-align: center;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

select {
  display: block;
  width: 100%;
  font-size: 15px;
  border-radius: 8px;
  padding: 6px;
  border-color: rgb(136, 93, 241);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgb(136, 93, 241) 0px 4px 8px -2px,
    rgb(136, 93, 241) 0px 0px 0px 1px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  font-style: italic;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 15px;
  color: rgb(94, 94, 94);
}
